.todo {
    max-width: 500px;
    box-shadow: 0 0 5px grey;
    border-radius: 16px;
    padding: 16px;
}

.todo .input-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid grey;
}

.todo .task-input {
    display: block;
    margin-right: 16px;
    width: 300px;
}

.todo .add-button {
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

.todo .task-list {
    padding: 16px 0;
    list-style: outside;
}

.todo .task {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 8px;
}

.todo .task.do {
    color: blueviolet;
}

.todo .task.done {
    color: rgb(0, 251, 54);
}